html {
	font-size: 100%;
}
body {
	color: #3a4145;
	/* font-family: 'Noto Serif', serif; */
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 100%;
}

p {
	line-height: 1.5em;
}
h1 {
	line-height: 1.3;
}

.font-light {
	/*font-family: 'Merriweather', serif;*/
	font-weight: 300;
}
.font-regular {
	/*font-family: 'Merriweather', serif;*/
	font-weight: 400;
}
.font-bold {
	/*font-family: 'Merriweather', serif;*/
	font-weight: 500;
}
.font-black {
	/*font-family: 'Merriweather', serif;*/
	font-weight: 900;
}
.fs14 {
    font-size: 14px;
}

img.center {
    display: block;
    margin: 0 auto;
}